{% extends 'main/base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Продукты для всех</h1>
    <p class="lead"> Продуктовый онлайн-магазин </p>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for object in object_list %}

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 align="center" class="my-0 fw-normal">{{ object|title }}</h4>
                </div>
                <div class="card-body">
                    <h1 align="center" class="card-title pricing-card-title">{{ object.price }} руб.</h1>
                    <ul align="center" class="list-unstyled mt-3 mb-4">
                        <li>{{ object.category }}</li>
                        <li>{{ object.description | truncatechars:100 }}</li>
                    </ul>
                    <a href="{% url 'shop:product_info' object.pk %}" class="w-100 btn btn-lg btn-outline-primary"> О
                        товаре </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}